{% extends 'base.html' %}

{% block content %}
  <h1>Edit Profile</h1>
  <form action='' method='post'>
    {{ form.hidden_tag() }}
    <table>
      <tr valign='top'>
        <td><img src='{{ current_user.avatar(128) }}'></td>
        </td>
      </tr>
    </table>

    <p>Edit profile picture through
      <a href='https://en.gravatar.com/'>Gravatar</a>
    </p>
    <p>
      {{ form.username.label }}<br>
      {{ form.username(size=32) }}<br>
      {% for error in form.username.errors %}
      <span style='color: red;'>[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.about_me.label }}<br>
      {{ form.about_me(cols=50, rows=4) }}<br>
      {% for error in form.about_me.errors %}
      <span style='color: red;'>[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
{% endblock %}
